
.idea/misc.xml
.idea/hw4-trees-sondande.iml
.idea/misc.xml
.idea/whitesource/PyCharmUsageMetrics.txt
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/e/c/ec5f35d8ccdbf6e31ce3f62af53b7152c5f1700e
