
.idea/misc.xml
.idea/hw4-trees-sondande.iml
.idea/misc.xml
.idea/whitesource/PyCharmUsageMetrics.txt
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/e/c/ec5f35d8ccdbf6e31ce3f62af53b7152c5f1700e
DecisionTree-results/results-tree-occupancy.csv-True-12345.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-100.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-1000.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-10000.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-12345.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-250.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-2500.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-50.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-500.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-5000.csv
DecisionTree-results/results-tree-opticalDigit.csv-True-750.csv
DecisionTree-results/results-tree-penguins.csv-True-12345.csv
DecisionTree-results/results-tree-penguins.csv-True-12345.csv
